.button {
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: var(--font-size-botton);
  margin-right: 10px;
  cursor: pointer;
  width: 120px;
}

.button_morado {
background-color: var(--purple);
  color: var(--while);
}

.button_gris {
  background-color: var(--black);
  color: var(--while);
  border: 4px hidden var(--purple);
}
