.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 12vw;
  height: 25vh;
}

.info h2 {
  font-weight: var(--font-width-h);
  font-size: var(--font-size-h);
  color: var(--black);
  line-height: 60px;
}

.info_img img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.info span {
  color: var(--purple);
}

.info .info_mini {
  font-size: var(--font-size);
  color: var(--gray);
}

.info_mini {
  font-weight: var(--font-width-h);
  font-size: var(--font-size);
  color: var(--black);
}


